section{
	background-color: blue;
	color:black;
	font-style: italic;
	width: 40%;
	display: inline-block;
	height: 200px;
	margin: 5px;
	border: 20px solid blue;
	padding: 15px;
	margin: 0 auto;
	margin-top: 50px;


}
p{
	text-align: center;
}